.card-div{
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-items: start;
    background-color: burlywood;
    text-align: center;
    padding-top: 0;
    border-radius: 50px;
}
img{
    width: 300px;
    height: 200px;
    margin:20px;
    border-radius: 10px;
}
.content{
    margin-left:20px;
    margin-right: 20px;;
    text-align: justify;
}
#price{
    margin-bottom: 30px;
}
