.top-deals-card-div img{
width: 100px;height: 100px;
}
.top-deals-card-div{
    width: 21.2%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius:20px;
     /* display: fl ex; */
    /*align-items: center;*/
    /* justify-content: center;  */
    /* justify-items: center; */
     /* flex-direction: column;   */
}
.top-deals-card-div p{
    padding: 10px;
    overflow: hidden; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    margin-bottom: 0;

}
.top-deals-card-div:hover{
    border: 1px solid black;
}

.top-deals-card-div button{
    padding:10px;
    border:1px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    margin: 0px 20px;
    background-color: rgb(208, 152, 145);
    color:black;
}
.top-deals-card-div button:hover{
    background-color: white;
    color:black;
}
.top-deals-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top-deals-card-div h1{
    font-size: 20px;
    margin-bottom: 0;
}