.carts{
    text-align: center;
}
.cart-card-div img{
width: 100px;height: 100px;
}
.cart-card-div{
    width: 21.2%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius:20px;
}
.cart-card-div p{
    padding: 10px;
    overflow: hidden; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    margin-bottom: 0;

}
.cart-card-div:hover{
    border:1px solid black;
}

.cart-card-div button{
    padding:10px;
    border:1px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    margin: 0px 20px;
    background-color: rgb(208, 152, 145);
    color:black;
}
/* .cart-card-div button:hover{
    background-color: white;
    color:white;
} */