.navbar-right{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    height:80px;
    /* color:#1A1A1A;*/
}

.navbar-left img{
    width:50px;
    height:50px;
    
}
.navbar-left{
    width:30%;
    display: flex;
    align-items: center;
}
.navbar{    
    background-color: #B9BBB4;
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;

}


