.home-div {
    margin: 40px;
    font-size: 18px;
    text-align: center;
}

.home-div span {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: black;
    text-decoration: none;
}