.product-card-div img{
width: 100px;height: 100px;
}
.product-card-div{
    width: 21.2%;
    height: 300px;
    margin:20px;
    border:2px solid black;
    border-radius:20px;
     /* display: fl ex; */
    /*align-items: center;*/
    /* justify-content: center;  */
    /* justify-items: center; */
     /* flex-direction: column;   */
}
.product-card-div p{
    padding: 10px;
    overflow: hidden; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    margin-bottom: 0;

}

.product-card-div button{
    padding:10px;
    border:1px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    margin: 0px 20px;
    background-color: rgb(208, 152, 145);
    color:black;
}
.product-card-div button:hover{
    background-color: grey;
    color:white
}