.nav{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    background-color: skyblue;
}
.nav a{
    /* text-decoration: none; */
    color: white;
    
}